In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
twt = pd.read_csv('twitter_cross_platform.csv')
fb = pd.read_csv('facebook_cross_platform.csv')
yt = pd.read_csv('youtube_cross_platform.csv')

In [10]:
twt.head()

,nodeID,nodeUserID,nodeTime,actionType,videoID,platform
0,NRFEnex8MF21dytDg9vfAg,ff0vicGZco1mZzYxUCWiGg,2018-04-01 02:13:00,tweet,6h0VDhENotI,twitter
1,Qeyxwl00d0vgLfKh1YqUEw,MCUuXxcepDc2FFRh9i-AtQ,2018-04-01 03:34:41,tweet,NQL3rX6xWRg,twitter
2,1QIQqg23ItMfiKbFFrPkAw,5hBVs8jS6_vCAFsHOjvKcA,2018-04-01 10:23:20,tweet,VLMOHhKkrX8,twitter
3,iYMBH3KdJvOiUHYxeKfx_w,qhQLCsDQNEtptuJJzfEVZA,2018-04-01 11:13:02,tweet,VLMOHhKkrX8,twitter
4,G86DyDFas0zLKkBFW0GWwg,lSmQYvUcuGn6oFyjGJduDw,2018-04-01 13:43:07,tweet,4oQTWn1JfeA,twitter

In [11]:
twt.describe()

,nodeID,nodeUserID,nodeTime,actionType,videoID,platform
count,14942,14942,14942,14942,14942,14942
unique,14776,4947,14746,3,667,1
top,-n1oLeRxr7PO_Lf5YE27sg,a0fYqjn3qCvgH6MYNqZRew,2018-04-13 20:12:46,tweet,CCmN6X_7kn0,twitter
freq,4,2470,4,8947,2324,14942

In [12]:
twt['actionType'].value_counts()

actionType
tweet    8947
reply    5654
quote     341
Name: count, dtype: int64