In [1]:
import networkx
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
twt = pd.read_csv('twitter_cross_platform.csv')
fb = pd.read_csv('facebook_cross_platform.csv')
yt = pd.read_csv('youtube_cross_platform.csv')

In [15]:
fb.head()

,nodeID,nodeUserID,nodeTime,actionType,videoID,platform
0,548542|1619699981462385,548542,2018-04-01 10:22:08,post,VLMOHhKkrX8,facebook
1,5465518|1679734395397774,5465518,2018-04-05 00:04:00,post,OBkn78q_t_Q,facebook
2,6119363|1782014748487422,6119363,2018-04-05 07:12:02,post,3wj4ncIEDxw,facebook
3,8621215|1596340410441820,8621215,2018-04-05 18:22:26,post,3wj4ncIEDxw,facebook
4,12041680|2070852329860194,12041680,2018-04-08 15:08:50,post,mvD7qhDwljs,facebook

In [11]:
twt.describe()

,nodeID,nodeUserID,nodeTime,actionType,videoID,platform
count,14942,14942,14942,14942,14942,14942
unique,14776,4947,14746,3,667,1
top,-n1oLeRxr7PO_Lf5YE27sg,a0fYqjn3qCvgH6MYNqZRew,2018-04-13 20:12:46,tweet,CCmN6X_7kn0,twitter
freq,4,2470,4,8947,2324,14942

In [12]:
twt['actionType'].value_counts()

actionType
tweet    8947
reply    5654
quote     341
Name: count, dtype: int64

In [17]:
G = nx.Graph()

for index, row in yt.iterrows():
    if not G.has_node(row['videoID']):
        G.add_node(row['videoID'], color = 'red')
        
for index, row in twt.iterrows():
    if not G.has_node(row['nodeUserID']):
        G.add_node(row['nodeUserID'], color = 'green')
    if not G.has_node(row['nodeID']):
        G.add_node(row['nodeID'], color = 'blue')
        G.add_edge(row['nodeUserID'], row['nodeID'])
        G.add_edge(row['videoID'], row['nodeID'])
        
for index, row in fb.iterrows():
    if not G.has_node(row['nodeUserID']):
        G.add_node(row['nodeUserID'], color = 'yellow')
    if not G.has_node(row['nodeID']):
        G.add_node(row['nodeID'], color = 'orange')
        G.add_edge(row['nodeUserID'], row['nodeID'])
        G.add_edge(row['videoID'], row['nodeID'])
        
nx.write_gexf(G, "blue_helm_test.gexf")